<div class="container-fluid">
  <div class="row">
   <div class="col-md-4"> 
   <br> 
    <h2 class="uneaten-title">Ordered Burgers</h2>
    <ul class="uneaten">
    
      {{#each burgers}}
        {{#unless this.devoured}}
          <li>
          
           <p>
            {{this.burger_name}}
          </p>
          <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            <button type="submit" class="btn btn-default" style="background-color:orange; color:black; padding: 15px;">Devoured</button>

          </form>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
  
</div>


  
    <div class="col-md-4" id="update">
      <br>
        <form class="create-update-form" action="burgers/create" method="POST">
          <h2 class="add-title">Add a Burger</h2>
          <div class="form-group">
            <label for="newBurger">Burger Name:</label>
            <input type="hidden" name="devoured" value="0">
            <input type="text" id="newBurger" name="burger_name">
          <button type="submit" class="btn btn-default" style="background-color:orange; color:black">Add Burger</button>
        </form>
      </div>
    </div>

  <div class="col-md-4" id="eaten">
      <br>
      <h2 class="eaten-title">Eaten Burgers</h2>
      <ul class="burgers-eaten">
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              <p>
                {{this.burger_name}}
              </p>
            </li>
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
             <input type="hidden" name="devoured" value="false">
          {{/if}}
        {{/each}}
      </ul>
    </div>    
   </div>
</div>